@{
    ViewData["Title"] = "C";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<link href="~/lib/bootstrap/dist/css/animista.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="~/css/adoption.css" rel="stylesheet" />
    <div class="all">
        <div class="container1">
            <!-- Button trigger modal -->     
                <button type="button" class="btn btn-outline-secondary --project-txt-color-buzz select" data-toggle="modal" data-target="#exampleModalCenter">
                    <img src="~/Images/cat2.png" style="width:40px;" />
                </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">請選擇喜歡的貓貓類型</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card-body">
                                <label for="inputState">品種</label>
                                <select id="inputState" class="form-control">
                                    <option selected>全部</option>
                                    <option>英國短毛貓</option>
                                    <option>美國短毛貓</option>
                                    <option>異國短毛貓</option>
                                    <option>俄羅斯藍貓</option>
                                    <option>曼斥肯</option>
                                    <option>布偶貓</option>
                                    <option>緬因貓</option>
                                    <option>波斯貓</option>
                                    <option>布偶貓</option>
                                    <option>金吉拉</option>
                                    <option>米克斯</option>
                                </select>
                                <br>
                                <label class="a1" for="inputState">性別</label>
                                <br>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline1" name="customRadioInline"
                                           class="custom-control-input" checked>
                                    <label class="custom-control-label" for="customRadioInline1">全部</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline2">公</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline3" name="customRadioInline"
                                           class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline3">母</label>
                                </div>
                                <br>
                                <br>
                                <label for="inputState">顏色</label>
                                <select id="inputState" class="form-control">
                                    <option selected>全部</option>
                                    <option>黑色</option>
                                    <option>灰色</option>
                                    <option>藍色</option>
                                    <option>橘色</option>
                                    <option>白色</option>
                                    <option>多種色</option>
                                </select>
                                <br>

                                <label for="inputState">地點</label>
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-4">
                                            <select id="city" class="form-control">
                                                <option>全部</option>
                                                <option>臺北市</option>
                                                <option>新北市</option>
                                                <option>基隆市</option>
                                                <option>新竹市</option>
                                                <option>桃園市</option>
                                                <option>新竹縣</option>
                                                <option>宜蘭縣</option>
                                                <option>臺中市</option>
                                                <option>苗栗縣</option>
                                                <option>彰化縣</option>
                                                <option>南投縣</option>
                                                <option>雲林縣</option>
                                                <option>高雄市</option>
                                                <option>臺南市</option>
                                                <option>嘉義市</option>
                                                <option>嘉義縣</option>
                                                <option>屏東縣</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary">確認</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box2">
                <i class="fa-solid fa-paw"></i>
            </div>
            <div class="box3">
                <i class="fa-solid fa-paw"></i>
            </div>
            <div class="box4">
                <i class="fa-solid fa-paw"></i>
            </div>
            <div class="box5">
                <i class="fa-solid fa-paw"></i>
            </div>
            <div class="box1">

                <div class="autoplay">
                    <div class="slide-2"><img src="~/Images/12.jpg" alt=""></div>
                    <div class="slide-3"><img src="~/Images/13.jpg" alt=""></div>
                    <div class="slide-1"><img src="~/Images/14.jpg" alt=""></div>
                </div>
                <div class="context">
                    <div class="title">貓貓</div>
                    <div class="a1">
                        <p>英短 妹妹 五歲</p>
                        <p>黃色</p>
                        <p>高雄市鳳山區</p>
                        <p>貓貓超級親人快來認養~~~</p>
                    </div>
                </div>
                <div class="like" style="text-align:center;">
                    <button type="button" class="btn btn-outline-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" style="padding-bottom:3px;" width="18" height="18" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                        </svg> 認養
                    </button>
                    <button type="button" class="btn btn-outline-secondary --project-txt-color-buzz">PASS</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>

    <script>

        $('.autoplay').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,

        });
    </script>
